doctype html
html
	head
		title Hamid Azimy's Official Website
		meta(http-equiv='content-type', content='text/html; charset=utf-8')
		meta(name='description', content="Hamid Azimy's Official Website")
		meta(name='robots', content='INDEX, FOLLOW')
		//[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]
		script(src='js/jquery.min.js')
		script(src='js/jquery.modal.min.js')
		script(src='js/jquery.scrolly.min.js')
		script(src='js/jquery.scrollzer.min.js')
		script(src='js/skel.min.js')
		script(src='js/skel-layers.min.js')
		script(src='js/init.js')
		script(src='js/contact-me.js')
		script(src='http://cdn.jsdelivr.net/qtip2/2.2.1/jquery.qtip.min.js')
		noscript
			link(rel='stylesheet', href='css/skel.css')
			link(rel='stylesheet', href='css/style.css')
			link(rel='stylesheet', href='css/style-wide.css')
		//[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]
		//[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]
		link(rel='stylesheet', href='css/jquery.modal.css')
		link(rel='stylesheet', href='http://cdn.jsdelivr.net/qtip2/2.2.1/jquery.qtip.min.css')
		link(rel='icon', type='image/png', href='images/favicon_transparent.png')
		script.
			$(document).ready(function() {
				$('#yalda').qtip({
					content: {
						text: $('#yalda_qtip'),
						title: 'Yaldā'
					},
					style: 'qtip-bootstrap',
					show: { delay: 200  },
					hide: { delay: 2000 }
				});
			});
		style(type="text/css")
			|	.qtip {
			|		max-width: 400px !important;
			|	}
	body
		// Header 
		#header.skel-layers-fixed
			.top
				// Logo 
				#logo
					span.image.avatar48
						img(src='images/avatar.jpg', alt='')
					h1#title Hamid Azimy
					p MS student of CS
				// Nav 
				nav#nav    
					ul
						li
							a#top-link.skel-layers-ignoreHref(href='#top')
								span.icon.fa-home Intro
						li
							a#about-link.skel-layers-ignoreHref(href='#about')
								span.icon.fa-user About Me
						li
							a#education-link.skel-layers-ignoreHref(href='#education')
								span.icon.fa-graduation-cap Education
						li
							a#contact-link.skel-layers-ignoreHref(href='#contact')
								span.icon.fa-envelope Contact
			.bottom
				// Social Icons 
				ul.icons
					li
						a.icon.fa-envelope-o(href="mailto:hamid.azimy@gmail.com")
					li
						a.icon.fa-twitter(href="https://twitter.com/hamidazimy")
							span.label Twitter
					li
						a.icon.fa-linkedin(href="https://www.linkedin.com/profile/view?id=230597133&trk=nav_responsive_tab_profile_pic")
							span.label LinkedIn
					li
						a.icon.fa-google-plus(href="https://plus.google.com/u/0/110608365880178429034")
							span.label Google+
					//- li
					//- 	a.icon.fa-facebook(href="#")
					//- li.no_fd
					//- 	a.icon.fa-ban(href="#")
		// Main 
		#main
			// Intro 
			section#top.one.dark.cover
				.container
					header
						h2.alt
							span.backed
								| &nbsp;Hi! I'm 
								strong Hamid Azimy
								| ,&nbsp;
								br
								| &nbsp;a senior Master of Science student of&nbsp;
								br
								| &nbsp;Computer Science (Artificial Intelligence & Robotics).&nbsp;
						span.backed
							| &nbsp;Social Networks Lab., School of Electrical and Computer Engineering,&nbsp;
							br
							| &nbsp;University of Tehran, Iran&nbsp;
					footer
						a.button.scrolly(href='#about') Take a tour!
			// About Me 
			section#about.three
				.container
					header
						h2 About Me
					a.image.featured(href='#')
						img.framed_img(src='images/about_me.jpg', alt='')
					p.align_l
						|   I was born in Tehran, on the last 
						a#yalda(href='http://en.wikipedia.org/wiki/Yald%C4%81')“Yaldā”
						|   of '80s as the first child of my newly married parents.
						|   I was a curious boy and I used to ask a lot of questions and my lovely mom used to answer them
						|   patiently and in a way that her little son could understand.
						|   Like other children, I went to school at age 7, but I was a little hasty,
						|   so I skipped the 3rd grade of elementary school and went from 2nd grade to 4th grade,
						|   at my large crowded elementary school. I studied guidance school and after that, high school in
						|   two elite schools (Nemooneh Dowlati) with entrance exams to select talented students.
						<br>
						|   For studying BS is Iran, we should take a nationwide matriculation exam (a.k.a. Konkoor),
						|   which I passed it among the top 1% of over 311K participants at 2007.
						|   I have studied BS at Iran University of Science and Technology
						|   from 2007 to 2012 in field of Software Engineering.
						|   Then again, for studying MS, I took another nationwide Konkoor in field of Artificial Intelligence
						|   and I was ranked 27th among all participants at 2012.
						|   Since then, I study at University of Tehran in field of Artificial Intelligence and Robotics.
					#yalda_qtip.qtip_content.hidden
						img(src="images/Persian_Lady_recites_Hafez_Poems_in_Yalda_Night.jpg", alt="")
						.qtip_text Yaldā (Persian: "یلدا") is the Persian winter solstice celebration which has been popular since ancient times. Yalda is celebrated on the Northern Hemisphere's longest night of the year, that is, on the eve of the Winter Solstice. Depending on the shift of the calendar, Yalda is celebrated on or around December 20 or 21 each year.
					//- h4
					//- 	i.icon.fa-cube &nbsp;
					//- 	| Interests &amp; Hobbies
					//- p.align_l
					//- 	|   I like problem solving and computer programming.
					//- 	|   So I participated in two ACM-ICPC Asia Regionals at 2008 &amp; 2009 
					//- 	|   as representative team of Iran University of Science and Technology,
					//- 	|   and I received certificate of honorable mention.
					//- 	<br>
					//- 	|   I enjoy reading books especially in the genre of popular science in various topics,
					//- 	|   such as physics and cosmology, genetics and evolution, etc.
					//- 	|   For example, Richard Dawkins and Stephen Hawking's books, e.g.
					//- 	|   "The Magic of Reality", "The Selfish Gene", "The Grand Design", etc.
					//- 	|   I also
					//- 	<br>
					//- 	span.friends
					//- 		| F
					//- 		span.r0 •
					//- 		| R
					//- 		span.c0 •
					//- 		| I
					//- 		span.y0 •
					//- 		| E
					//- 		span.r0 •
					//- 		| N
					//- 		span.y0 •
					//- 		| D
					//- 		span.c0 •
					//- 		| S
					a.no_border(href="docs/Hamid Azimy's CV.pdf", target="_blank")
						img.cv_icon(src="images/cv_icon.png", alt="CV")
						span.cv_text My complete CV
					//embed(src='MyCV.pdf', width='100%', height='375')
			// Education 
			section#education.two
				.container
					header
						h2 Education
					.row
						.6u
							i.fa.fa-pencil.fa-border.fa-flip-horizontal
							&nbsp;&nbsp;&nbsp;
							strong Master of Science (2012 - Present)
							br
							em University of Tehran
							ul.default.small.to_the_left
								li
									| Advisor:&nbsp;
									strong
										a(href='http://ece.ut.ac.ir/en/users/Asadpour') Dr. Masoud Asadpour
									br
									&nbsp;
								li
									| Thesis title:
									br
									| Link Prediction in Weighted Networks
									br
									&nbsp;
								li
									| Expected graduation date:
									br
									| July 2015
						.6u
							a.no_border(href='http://ut.ac.it/en', target='_blank')
								img.framed_img(alt='', src='images/ceut.jpg')
					.row
						.6u
							i.fa.fa-pencil.fa-border.fa-flip-horizontal
							&nbsp;&nbsp;&nbsp;
							strong Bachelor of Science (2007 - 2012)
							br
							em Iran University of Science and Technology
							ul.default.small.to_the_left
								li
									| Advisor:&nbsp;
									strong
										a(href='http://www.iust.ac.ir/find.php?item=14.720.544.en') Dr. Behrooz Minaei
								br
								li
									| Thesis title:
									br
									| Distributed AI in Video Games
						.6u
							a.no_border(hrep='http://www.iust.ac.ir/home_en.php')
								img.framed_img(alt='', src='images/iust.jpg')
			// Contact 
			section#contact.four
				.container
					header
						h2 Contact
					p
						| You can email me using this contact form. I would be glad to hear from you.
						<br>
						| You can also get in touch with me through my social network accounts,
						<br>
						| wich you can find at the bottom of sidebar/menu.

						//- | Feel free to write me anything about me, my experiences, my website, etc.
					#form
						.row.half
							.6u
								input#name(type='text', name='name', placeholder='Your Name')
							.6u
								input#email(type='text', name='email', placeholder='Your Email')
						.row.half
							.12u
								textarea#message(name='message', placeholder='Your Message')
						.row
							.12u
								input#send_mail(type='button', value='Send Message')
		// Footer 
		#footer
			// Copyright 
			ul.copyright
				li © Untitled. All rights reserved.
				li
					| Design: 
					a(href='http://html5up.net') HTML5 UP
