// output: index.html
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title="Link Prediction in Weighted Networks"
    link(href="favicon.png", rel="icon", type="image/png")
    // Styles 
    // link(rel="stylesheet", type="text/css", href="css/main.css")
    // link(href="http://fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold|PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic", rel="stylesheet")
    // link(href="http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css", rel="stylesheet")
    link(href='https://fonts.googleapis.com/css?family=Droid+Serif', rel='stylesheet', type='text/css')
    //- link(rel="stylesheet", type="text/css", href="css/impress-demo.css")
    link(rel="stylesheet", type="text/css", href="css/main.css")
    
    // Scripts
    script(type="text/x-mathjax-config").
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}})
    script(src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML")
    script(src="js/jquery.min.js")
    script(src="js/main.js")

  body.impress-not-supported
    .fallback-message
      p
        | Your browser 
        b doesn't support the features required
        |  by impress.js, so you are presented with a simplified version of this presentation.
      p
        | For the best experience please use the latest 
        b Chrome
        |  or 
        b Firefox
        |  browser.
    .add-to-every-page
      .sidebar
        .logo
          img(src="images/ut.png", alt="") 
        ul.navigation
          li Introduction
          li Literature Review
          li Proposed Method
          li Experiments
          li Results and Analysis
          li Conclusion
          li
        .page-number
    #impress
      #first-page.step.slide(data-x="0",    data-y="0"   , data-rotate-x="+30")
        .container
          .row
            .col-2
              img.fill(src="images/fanni.png", alt="")
            .col-2.off-8
              img.fill(src="images/ut.png", alt="")
          .row
            h1.col-12 Link Prediction in Weighted Networks
            h3.col-10.off-2.pad-3.navy Hamid Azimy
            h4.col-10.off-2.pad-1.navy hamid.azimy@gmail.com
            h5.col-10.off-2.pad-1.navy Electrical and Computer Engineering, University of Tehran
      .step.slide(data-x="1400", data-y="0"   , data-rotate-x="+30").sec1
        p Analysing Complex NetworFor example, one can say that if two nodes have more common neighbours, they are more similar.
      .step.slide(data-x="2800", data-y="0"   , data-rotate-x="+30").sec2
        .container
          .row
            .col-12.title Link Prediction Problem
          .row
            .col-12
              p.
                Suppose we have a complex network (social network, etc),
                can we predict link (between network's individuals)
                which is either not exist in a dynamic network
                or not observed in a partially observed network?
            .col-12.vspace
            .col-12.vspace
            .col-3.off-2
              img.fill(src="images/time-t.jpg", alt="")
            .col-3.off-2.anim.animated1
              img.fill(src="images/time-t'.jpg", alt="")
      .step.slide(data-x="4200", data-y="0"   , data-rotate-x="+30").sec3
        .container
          .row
            .col-12.title Application
          .row
            .col-7
              ul.list(style="font-size: 90%;")
                li Friend suggestion in social networks (Twitter, LinkedIn, etc)
                li Shopping suggestion in online shops
                li Reducing experiment cost for detecting interaction between genes or proteins by avoiding blind search and concentrating on most likle relation
                li etc...
            .col-5
              img.fill(src="images/twitter-suggestion.jpg", alt="")
      .step.slide(data-x="5600", data-y="0"   , data-rotate-x="+30").sec4
        p we use LFR networks as our empirical data.
          | LFR networks was first introduced by Lancichinetti, Fortunato
          | and Radicchi at 2008 as a benchmark for community detection algorithms.
          br
          | LFR networks are synthesis networks that one
          | can make with an arbitrary set of parameters such as number of
          | nodes, average degree of nodes, maximum size of community,
          | etc. Two most important parameters of LFR networks for our work are μ t and μ w .
      .step.slide(data-x="5600", data-y="750" , data-z="200" data-rotate-x="0").sec5
        p جدول و نمودار
      .step.slide(data-x="4200", data-y="750" , data-z="200" data-rotate-x="0").sec6
        p we intended to use link weights as well as
          | community detection as methods for increasing performance
          | of link prediction. We proposed four methods depending on
          | whether or not using link weights in two step of computing
          | similarity measures and community detection. Each of these
          | four methods can work with every similarity index we studied,
          | such as CN, AA, etc. Then we perform these methods on
          | synthesis LFR network with different parameters, μ t and μ w ,
          | to study the effect of using link weights and community detection on different parameter setups.
      .step.slide(data-x="2800", data-y="750" , data-z="200" data-rotate-x="0")
      .step.slide(data-x="1400", data-y="750" , data-z="200" data-rotate-x="0")
      .step.slide(data-x="0",    data-y="750" , data-z="200" data-rotate-x="0")
      .step.slide(data-x="0",    data-y="1500", data-rotate-x="-30")
      .step.slide(data-x="1400", data-y="1500", data-rotate-x="-30")
      .step.slide(data-x="2800", data-y="1500", data-rotate-x="-30")
      .step.slide(data-x="4200", data-y="1500", data-rotate-x="-30")
      .step.slide(data-x="5600", data-y="1500", data-rotate-x="-30")
      #overview.step(data-x="2800", data-y="750", data-scale="5")
    script(src="js/impress.js")
    script.
      impress().init();
