// output: index.html
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title="Link Prediction in Weighted Networks"
    link(href="favicon.png", rel="icon", type="image/png")
    // Styles 
    // link(rel="stylesheet", type="text/css", href="css/main.css")
    // link(href="http://fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold|PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic", rel="stylesheet")
    // link(href="http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css", rel="stylesheet")
    link(href='https://fonts.googleapis.com/css?family=Droid+Serif', rel='stylesheet', type='text/css')
    //- link(rel="stylesheet", type="text/css", href="css/impress-demo.css")
    link(rel="stylesheet", type="text/css", href="css/main.css")
    
    // Scripts
    script(type="text/x-mathjax-config").
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}})
    script(src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML")
    script(src="js/jquery.min.js")
    script(src="js/main.js")

  body.impress-not-supported
    .fallback-message
      p
        | Your browser 
        b doesn't support the features required
        |  by impress.js, so you are presented with a simplified version of this presentation.
      p
        | For the best experience please use the latest 
        b Chrome
        |  or 
        b Firefox
        |  browser.
    .add-to-every-page
      .sidebar
        .logo
          img(src="images/ut.png", alt="") 
        ul.navigation
          li Introduction
          li Literature Review
          li Proposed Method
          li Experiments
          li Results and Analysis
          li Conclusion
          li
        .page-number
    #impress
      #first-page.step.slide(data-x="0",    data-y="0"   , data-rotate-x="+30")
        .container
          .row
            .col-2
              img.fill(src="images/fanni.png", alt="")
            .col-2.off-8
              img.fill(src="images/ut.png", alt="")
          .row
            h1.col-12 Link Prediction in Weighted Networks
            h3.col-10.off-2.pad-3.navy Hamid Azimy
            h4.col-10.off-2.pad-1.navy hamid.azimy@gmail.com
            h5.col-10.off-2.pad-1.navy Electrical and Computer Engineering, University of Tehran
      .step.slide(data-x="1400", data-y="0"   , data-rotate-x="+30").sec1
        .container
          .row
            .col-12.title Networks
          .row
            .col-12
              ul.list
                li Complex Networks Examples
                  ul.list.compact.pad-half
                    li Social Networks (Twitter, etc.)
                    li Q&A Websites (StackOverFlow, etc.)
                    li Proteins interaction networks
                    li Airport Networks
                    li ...
                li Analysis on Complex Networks
                  ul.list.compact.pad-half
                    li Community Detection
                    li Information Cascade
                    li Defusion Process
                    li Link Prediction
                    li ...
      .step.slide(data-x="2800", data-y="0"   , data-rotate-x="+30").sec1
        .container
          .row
            .col-12.title Link Prediction Problem
          .row
            .col-12
              p.
                Suppose we have a complex network (social network, etc),
                can we predict link (between network's individuals)
                which is either not exist in a dynamic network
                or not observed in a partially observed network?
            .col-12.vspace
            .col-12.vspace
            .col-3.off-2
              img.fill(src="images/time-t.jpg", alt="")
            .col-3.off-2.anim.animated1
              img.fill(src="images/time-t'.jpg", alt="")
      .step.slide(data-x="4200", data-y="0"   , data-rotate-x="+30").sec1
        .container
          .row
            .col-12.title Application
          .row
            .col-7
              ul.list(style="font-size: 90%;")
                li Friend suggestion in social networks (Twitter, LinkedIn, etc)
                li Shopping suggestion in online shops
                li Reducing experiment cost for detecting interaction between genes or proteins by avoiding blind search and concentrating on most likle relation
                li ...
            .col-5
              img.fill(src="images/twitter-suggestion.jpg", alt="")
      .step.slide(data-x="5600", data-y="0"   , data-rotate-x="+30").sec2
        .container
          .row
            .col-12.title Previous Works
          .row
            .col-12
              ul.list
                li Node-based methods
                li.anim.to-red Link-based methods
                li Maximum Likelihood methods
                li Probabilistic models
                li Methods based on Social Teory
                li Learning-based methods
      .step.slide(data-x="5600", data-y="750" , data-z="200" data-rotate-x="10").sec2
        .container
          .row
            .col-12.title Previous Works
          .row
            .col-12
              ul.list
                li.anim.to-red Local similarity indices
                li Global similarity indices
                li Random walk based indices
      .step.slide(data-x="4200", data-y="750" , data-z="200" data-rotate-x="10").sec2
        .container
          .row
            .col-12.title Previous Works
          .row
            //- .col-12
            //-   ul.list
            //-     li.h4 Common neighbours:
            //-       span.h6 $$ CN(x,y) = \sum_{z\in\Gamma(x)\cup\Gamma(y)}w(x,z)+w(z,y) $$
            //-     li.h4 Adamic/Adar:
            //-       span.h6 $$ AA(x,y) = \sum_{z\in\Gamma(x)\cup\Gamma(y)}\frac{w(x,z)+w(z,y)}{log(s(z))} $$
            //-     li.h4 Resourse Allocation:
            //-       span.h6 $$ RA(x,y) = \sum_{z\in\Gamma(x)\cup\Gamma(y)}\frac{w(x,z)+w(z,y)}{s(z)} $$
            //-     li.h4 Preferential Attachment:
            //-       span.h6 $$ PA(x,y) = s(x) \times s(y) $$
            
            .col-6 Common neighbours:
            .col-6.h5 $$ CN(x,y) = \sum_{z\in\Gamma(x)\cup\Gamma(y)}w(x,z)+w(z,y) $$
            .col-12.vspace
            .col-6 Adamic/Adar:
            .col-6.h5 $$ AA(x,y) = \sum_{z\in\Gamma(x)\cup\Gamma(y)}\frac{w(x,z)+w(z,y)}{log(s(z))} $$
            .col-12.vspace
            .col-6 Resourse Allocation:
            .col-6.h5 $$ RA(x,y) = \sum_{z\in\Gamma(x)\cup\Gamma(y)}\frac{w(x,z)+w(z,y)}{s(z)} $$
            .col-12.vspace
            .col-6 Preferential Attachment:
            .col-6.h5 $$ PA(x,y) = s(x) \times s(y) $$
      .step.slide(data-x="2800", data-y="750" , data-z="200" data-rotate-x="10").sec3
        .container
          .row
            .col-12.title Goals and Achivements
          .row
            .col-12
              ul.list
                li The goal:
                  ul.list.pad-1
                    li Proposing a method for link prediction in weighted networks using community informations.
                li.pad-1 Achivements:
                  ul.list.pad-1
                    li Proposing 4 methods using link weights and community informations
                    li Analysing the performance of each of these methods in parametric space of LFR networks
      .step.slide(data-x="1400", data-y="750" , data-z="200" data-rotate-x="10").sec3
        .container
          .row
            .col-12.title Proposed Method
          .row
            .col-4
              ul.list
                li Main idea:
            .col-8.off-2
              img.fill(src="images/main-idea.png", alt="")
            .col-12
              ul.list.pad-1
                li Solution:
                  ul.list.pad-1
                    li We predict link inside communities.
      .step.slide(data-x="0",    data-y="750" , data-z="200" data-rotate-x="10").sec3
        .container
          .row
            .col-12.title Proposed Method
          .row
            .col-10.off-0.method-step Calculating similarity measures
            .col-10.off-1.method-step Perform community detection algorithm
            .col-10.off-2.method-step Predict links inside communities
      .step.slide(data-x="0",    data-y="1500", data-z="200", data-rotate-x="-10").sec3
        .container
          .row
            .col-12.title Method Formulation
          .row
            .col-12.pad-2.h2.
              $$ SM'(x,y) = SM(x,y) \times CO(x,y) $$
            .col-12.pad-2.h3.
              $$  CO(x,y)=  \left\{
              \begin{array}{rl}
                1 & \text{if } comm(x) = comm(y) ,\\
                0 & \text{if } otherwise
              \end{array} \right.$$
      .step.slide(data-x="1400", data-y="1500", data-z="200", data-rotate-x="-10").sec4
        .container
          .row
            .col-12.title LFR Networks
          .row
            .col-12
              ul.list
                li Synthesis parametric networks introduced by Lancichinetti, Fortunato and Radicchi at 2008
            .col-7
              ul.list
                li Two main paramters:
                  ul.list.pad-1
                    li $ \mu_t $ : mixing parameter for the topology
                    li $ \mu_w $ : mixing parameter for the weight
            .col-5
              img.fill(src="images/mu.png", alt="")
      .step.slide(data-x="2800", data-y="1500", data-z="200", data-rotate-x="-10").sec5
        .container
          .row
            .col-12.title Results of P@n
          .row
            .col-8.off-2
              img.fill(src="images/p@n.png", alt="")
      .step.slide(data-x="4200", data-y="1500", data-z="200", data-rotate-x="-10").sec5
        .container
          .row
            .col-12.title Results of Average Precision
          .row
            .col-8.off-2
              img.fill(src="images/cn.png", alt="")
      .step.slide(data-x="5600", data-y="1500", data-z="200", data-rotate-x="-10").sec5
        .container
          .row
            .col-12.title Results of Average Precision
          .row
            .col-8.off-2
              img.fill(src="images/aa.png", alt="")
      .step.slide(data-x="5600", data-y="2250", data-rotate-x="-30").sec5
        .container
          .row
            .col-12.title Results of Average Precision
          .row
            .col-8.off-2
              img.fill(src="images/ra1.png", alt="")
      .step.slide(data-x="4200", data-y="2250", data-rotate-x="-30").sec5
        .container
          .row
            .col-12.title Results of Average Precision
          .row
            .col-8.off-2
              img.fill(src="images/pa.png", alt="")
      .step.slide(data-x="2800", data-y="2250", data-rotate-x="-30").sec6
        .container
          .row
            .col-12.title Conclusion
          .row
            .col-12
              ul.list
                li Goal:
                  ul.list.pad-1
                    li Proposing a method for link prediction in weighted networks using community information
                li Solution:
                  ul.list.pad-1
                    li Limiting link prediction within communities
                li Achievements:
                  ul.list.pad-1
                    li Proposed 4 methods using link weights and community information
                    li Anlaysed performance of each method on paramter space of LFR networks
      .step.slide(data-x="1400", data-y="2250", data-rotate-x="-30").sec6
        .container
          .row
            .col-12.title Future Works
          .row
            .col-12
              ul.list
                li Using community information in a different way. For example a different $ CO $ function.
                li Using node attributes alongside with topologic peoperties
                li Trying to reduce time complexity of methods
      .step.slide(data-x="0"   , data-y="2250", data-rotate-x="-30").sec6
        .container
          .row
            .col-12.title.ty Thank you!
      #overview.step(data-x="2800", data-y="1110", data-scale="5")
    script(src="js/impress.js")
    script.
      impress().init();
