[class*='MathJax'] {
    direction: ltr;
    font-family: "DejaVu Serif";
}

.slide * {
    box-sizing: border-box;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.container:before, .container:after {
    content: " ";
    display: table;
}

.container:after {
    clear: both;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.row:before, .row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

[class^='col-'] {
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.col-1 {
    width: 8.33333%;
}

.col-2 {
    width: 16.66667%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33333%;
}

.col-5 {
    width: 41.66667%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33333%;
}

.col-8 {
    width: 66.66667%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33333%;
}

.col-11 {
    width: 91.66667%;
}

.col-12 {
    width: 100%;
}

.off-0 {
    margin-left: 0%;
}

.off-1 {
    margin-left: 8.33333%;
}

.off-2 {
    margin-left: 16.66667%;
}

.off-3 {
    margin-left: 25%;
}

.off-4 {
    margin-left: 33.33333%;
}

.off-5 {
    margin-left: 41.66667%;
}

.off-6 {
    margin-left: 50%;
}

.off-7 {
    margin-left: 58.33333%;
}

.off-8 {
    margin-left: 66.66667%;
}

.off-9 {
    margin-left: 75%;
}

.off-10 {
    margin-left: 83.33333%;
}

.off-11 {
    margin-left: 91.66667%;
}

.off-12 {
    margin-left: 100%;
}

.step {
    font-family: "Droid Serif", sans-serif;
}

ul li {
    margin: 30px 0;
}
.add-to-every-page {
    display: none;
}
.have-sidebar {
    padding-left: 360px;
}
.sidebar {
    width: 300px;
    position: absolute;
    left: 0;
    top: -10px;
    bottom: -10px;
    padding: 30px 0;
    background-color: #EEE;
    box-shadow: -4px 0px 6px 0px rgba(0, 0, 0, 0.5) inset;
    overflow: hidden;
}
.logo {
    position: relative;
    left: -4px;
}
.logo img {
    display: block;
    margin: 0 auto;
}
.navigation {
    width: 100%;
    position: relative;
    right: 0;
    top: 0px;
    bottom: 0px;
    overflow: hidden;
}
.navigation li {
    width: 96%;
    height: 60px;
    margin: 0 !important;
    float: right;
    color: #666;
    font-size: 18px;
    text-align: right;
    box-sizing: border-box;
    padding: 12px 24px;
}
.sec1 .navigation li:nth-child(1),
.sec2 .navigation li:nth-child(2),
.sec3 .navigation li:nth-child(3),
.sec4 .navigation li:nth-child(4),
.sec5 .navigation li:nth-child(5),
.sec6 .navigation li:nth-child(6) {
    width: 100%;
    position: relative;
    right: -8px;
    border-right: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #FFF;
    box-shadow: -4px 4px 6px 0px rgba(0, 0, 0, 0.5);
    color: #146;
}
.page-number {
    position: absolute;
    left: -4px;
    bottom: 20px;
    text-align: center;
    width: 100%;
    font-size: 20px;
}
.title {
    width: 100%;
    height: 20%;
    font-size: 240%;
    padding-top: 40px;
    box-sizing: border-box;
}

.animated1 {

}
.animated1.anim-x {

}
